.grid {
  display: grid;
  grid-template-rows: repeat(20, 100px);
}

.sidebarTile {
  background: cadetblue;
  border: black solid 1px;
  min-width: 100px;
  min-height: 100px;
}

.headerTile {
  background: coral;
  border: black solid 1px;
}

.eventTile {
  background: cornsilk;
  border: black solid 1px;
}
